<div id="banner" class="box container">
  <article class="container" id="top">
    <div class="row">
      <div>
        <span class="image fit"><img src="img/pic00.jpg" alt="" /></span>
      </div>
      <div>
        <header>
          <h1>Hi. I'm <strong>Michael</strong>.</h1>
        </header>
        <p>And this is <strong>RochRach Site</strong>.</p>
      </div>
    </div>
  </article>
  <article class="container" id="top">
    <div class="row">
      <div>
        <span class="image fit"><img src="img/pic01.jpg" alt="" /></span>
      </div>
      <div>
        <header>
          <h1>And this is <strong>Roberto</strong>.</h1>
        </header>
        <p>He is <strong>Annoying</strong>.</p>
      </div>
    </div>
  </article>
</div>