<div id="header-wrapper">
  <header id="header" class="container">

    <!-- Logo -->
    <div id="logo">
      <h1><a>RR</a></h1>
      <span>Group</span>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a routerLink='homepage' routerLinkActive='current'>O nas</a></li>
        <li><a routerLink='object' routerLinkActive='current'>Wynajem obiektu</a></li>
        <li><a routerLink='gear' routerLinkActive='current'>Wypożyczalnia sprzętu</a></li>
        <li><a routerLink='map' routerLinkActive='current'>Mapa miejsc</a></li>
        <li><a routerLink='search' routerLinkActive='current'>Szukaj</a></li>
        <li><a routerLink='addItem' routerLinkActive='current'>Dodaj</a></li>
        <li><a routerLink='logIn' routerLinkActive='current'>Zaloguj</a></li>
        <li><a routerLink='register' routerLinkActive='current'>Zarejestruj</a></li>
        <li><a>Wyloguj</a></li>
        
      </ul>
    </nav>

  </header>
</div>